@import "components/header";
@import "components/footer";
@import "base/extends";
@import "components/zapatos-grid";
    
*{
    padding: 0;
    margin: 0;
    
}




/*INDEX*/

.grid-item{
    display: flex;
    justify-content: center;
    margin: 2%;
}

/*ZAPATOS.HTML*/

.zapatos-main-container{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    grid-gap: 2%;
    margin-bottom: 40px;
}


@media screen and (max-width:765px){
    .descripcion-innecesaria{
        display: none;
    }

    .align-items-start{
        
        .col{
            width: auto;
            display: flex;
            justify-content: center;
            margin: 10px;

        }
    }



}

@media screen and (max-width: 1200px) {
    .texto-footer{
        visibility: hidden;
    }
    
}

@media screen and (min-width:1200px) and (max-width:1400px) {
    .align-items-start{
        column-gap: 20ch;

    }
}
@media screen and (min-width:1401px) and (max-width:1500px) {
    .align-items-start{
        column-gap: 5ch;

    }
}
@media screen and (min-width:1501px) and (max-width:1700px) {
    .align-items-start{
        column-gap: 4ch;

    }
}

/*Misc*/
.custom-item-comodin{
    margin: 1vw;
}

.bg-custom{
    background-color:rgb(214, 186, 107) ;
}

.bg-custom2{
    background-color: #ffaaaa;
}

p::selection{
    background-color: #ffaaaa;
}

b::selection{
    background-color: tomato;
    color: wheat;
}


.carrito{
    text-decoration:line-through;
}

main{
    padding-bottom: 30px;
}

.bolder{
    font-weight: bolder;
}

.img-thumbnail {
    border: none;
}

.formulario-container{
    display: flex;
    justify-content: center;
    margin: 30px;
}
